/* main.css */

body {
  width: 100%;
  height: 100%;
}

h1 {
  text-align: center;
}

ul { 
  list-style:none;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

dl.wrapper1 {
  margin-left: auto;
  margin-right: auto;
  padding:.5em;
  width:460px;
  background-color:#fff;
  font-size:1em;
}

dt {
  margin:0;
  padding:.5em;
  font-weight:bold;
  background-color:#e0e0e0;
}

.div1 {
  padding-top:.5em;
  font-size:.9em;
  margin-left: 5%;
  clear:both;
}

.div2 {
  color:#900;
  font-size:.76em;
  margin-top:.5em;
  margin-bottom:.5em;
  margin-left: 85%;
  clear:both;
}